.test {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-font-size:22;
    -fx-font-family: serif;
    -fx-background-radius: 5em;
}
.loginScreen {
    -fx-background-image: url("images/Backgrounds/loginBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.lobbyScreen {
    -fx-background-image: url("images/Backgrounds/gameCreationBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.codexBackground {
    -fx-background-image: url("images/Backgrounds/Slider-Codex-2-1920x1080.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.enterButton {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-font-size:15;
    -fx-font-family: serif;
    -fx-background-radius: 5em;
}
.loginScreen {
    -fx-background-image: url("images/Backgrounds/loginBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.lobbyScreen {
    -fx-background-image: url("images/Backgrounds/gameCreationBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.codexBackground {
    -fx-background-image: url("images/Backgrounds/Slider-Codex-2-1920x1080.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.rulebookButton {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-background-radius: 5em;
    -fx-background-image: url("images/Icons/rulebookIcon2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-position: center;
}
.rulebookPage1 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/02.png");
    -fx-background-size: cover;
}
.rulebookPage2 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/03.png");
    -fx-background-size: cover;
}
.rulebookPage3 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/04.png");
    -fx-background-size: cover;
}
.rulebookPage4 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/05.png");
    -fx-background-size: cover;
}
.rulebookPage5 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/06.png");
    -fx-background-size: cover;
}
.rulebookPage6 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/07.png");
    -fx-background-size: cover;
}
.rulebookPage7 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/08.png");
    -fx-background-size: cover;
}
.rulebookPage8 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/09.png");
    -fx-background-size: cover;
}
.rulebookPage9 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/10.png");
    -fx-background-size: cover;
}
.rulebookPage10 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/11.png");
    -fx-background-size: cover;
}
.rulebookPage11 {
    -fx-background-image: url("images/CODEX_Rulebook_IT/12.png");
    -fx-background-size: cover;
}
.p1image {
    -fx-background-radius: 20;
    -fx-background-image: url("images/ProfileImages/animal.png");
    -fx-background-size: cover;
}
.p2image {
    -fx-background-image: url("images/ProfileImages/fungi.png");
    -fx-background-size: cover;
}
.p3image {
    -fx-background-image: url("images/ProfileImages/insect.png");
    -fx-border-radius: 30px;
    -fx-background-size: cover;
}
.p4image {
    -fx-background-image: url("images/ProfileImages/plant.png");
    -fx-background-size: cover;
}
.gameLobbyBackground {
    -fx-background-radius: 20px;
    -fx-background-color: black;
}

.gameBackground {
    -fx-background-image: url("images/Backgrounds/wood.png");
    -fx-background-size: cover;
}
.gameScoreboard {
    -fx-background-image: url("images/PLATEAU-SCORE-IMP/plateau.png");
    -fx-background-size: cover;
}
.exitButton {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-background-radius: 5em;
    -fx-background-image: url("images/Icons/exit.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50%;
    -fx-background-position: center;
}
.closeButton {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-background-radius: 5em;
    -fx-background-image: url("images/Icons/x-close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 45%;
    -fx-background-position: center;
}
.tabPane {
    .tab-pane {
        -fx-tab-max-height: 0 ;
    }
    .tab-pane .tab-header-area {
        visibility: hidden ;
    }
}
.nextArrowButton {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-background-radius: 5em;
    -fx-background-image: url("images/Icons/nextArrow.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%;
    -fx-background-position: center;
}
.backArrowButton {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-background-radius: 5em;
    -fx-background-image: url("images/Icons/backArrow.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70%;
    -fx-background-position: center;
}
.backButton {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-background-radius: 5em;
    -fx-background-image: url("images/Icons/back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50%;
    -fx-background-position: center;
}
.markerButton {
    -fx-background-size: 100%;
}
/*LIST VIEW*/
.gameList {
    -fx-border-color: #EEE5BC;
    -fx-background-color: #EEE5BC;
}
.gameList .list-cell {
    -fx-background-color: #EEE5BC;
    -fx-border-color: #EEE5BC;
    -fx-text-fill: black;
    -fx-font-family: Serif;
    -fx-font-size: 16px;
}
.gameList .list-cell:focused {
    -fx-background-color: #EEE5BC;
    -fx-border-color: #EEE5BC;
    -fx-text-fill: black;
    -fx-font-family: Serif;
}
.gameList .list-cell:selected {
    -fx-font-family: Serif;
    -fx-background-color: #746216;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-border-color: #EEE5BC;
}
/*----------------------------*/
.plant {
    -fx-background-image: url("images/Icons/plant.png");
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
}
.fungi {
    -fx-background-image: url("images/Icons/fungi.png");
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
}
.insect {
    -fx-background-image: url("images/Icons/insect.png");
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
}
.animal {
    -fx-background-image: url("images/Icons/animal.png");
    -fx-background-position: center;
    -fx-background-size: 75%;
    -fx-background-repeat: no-repeat;
}
.quill {
    -fx-background-image: url("images/Icons/quill.png");
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
}
.manuscript {
    -fx-background-image: url("images/Icons/manuscript.png");
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
}
.inkwell {
    -fx-background-image: url("images/Icons/inkwell.png");
    -fx-background-position: center;
    -fx-background-size: 90%;
    -fx-background-repeat: no-repeat;
}

.text-area {
    -fx-background: transparent;
    -fx-effect: none;
    -fx-border-color: none;
    -fx-text-align: center;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-family: Serif;
    /*-fx-font-weight: bold;*/
}
.text-area .content {
    -fx-background-color: transparent;
}
.text-area *.text {
    -fx-text-alignment: center;
}
.text-area:focused .content {
    -fx-background-color: transparent;
}

.clickableObject:hover {
    /*-fx-opacity: 0.6;*/
    -fx-effect: dropshadow(three-pass-box, rgba(203,181,89,0.8), 10, 0, 0, 0);
}
.crown {
    -fx-background-image: url(images/Icons/crown.png);
    -fx-background-size: cover;
}
.refreshButton  {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-background-radius: 5em;
    -fx-background-image: url("images/Icons/refresh.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 90%;
    -fx-opacity: 0.6;
    -fx-background-position: center;
}
.corner {
    -fx-background-color: rgb(203,181,89);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
}
.chatButton {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #746216 0%, #746216 100%),
            #746216,
            #746216,
            radial-gradient(center 50% 50%, radius 100%, #c1aa50, #746218);
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.75), 4,0,0,1 );
    -fx-background-radius: 5em;
    -fx-background-image: url("images/Icons/chatIcon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 60%;
    -fx-background-position: center;
}

.chatListView {
    -fx-background-color: transparent;
    /*-fx-border-color: red;*/
}
.chatListView .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Serif;
    -fx-font-size: 10px;
}
.chatListView .list-cell:focused {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Serif;
    -fx-font-size: 10px;
}
.chatListView .list-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Serif;
    -fx-font-size: 10px;
}




